<launch>

  <group ns="Coax56">
    
    <!-- get control message from ipc bridge/matlab -->
    <node pkg="ipc_geometry_msgs"
          name="Quaternion_raw_control_subscriber"
          type="geometry_msgs_Quaternion_subscriber"
          output="screen">
      <remap from="~topic" to="/Coax56/matlab_raw_control"/>
      <param name="message" value="raw_control56"/>
    </node>

    <!-- publish coax state to ipc bridge/matlab -->
    <node pkg="ipc_nav_msgs"
          name="nav_msgs_Odometry_publisher"
          type="nav_msgs_Odometry_publisher"
          output="screen">
      <remap from="~topic" to="/Coax56/odom"/>
      <param name="message" value="odom56"/>
    </node>

    <node pkg="ipc_geometry_msgs"
          name="Quaternion_coax_info_publisher"
          type="geometry_msgs_Quaternion_publisher"
          output="screen">
      <remap from="~topic" to="/Coax56/coax_info"/>
      <param name="message" value="add_state56"/>
    </node>

  </group>


</launch>
