[project]
	description = ROS interface and Matlab control for the CoaX
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matthias Faessler (mfaessle)
[access "refs/for/refs/*"]
	read = group user/Matthias Faessler (mfaessle)
	push = group user/Matthias Faessler (mfaessle)
	label-Code-Review = -2..+2 group user/Matthias Faessler (mfaessle)
	label-Verified = -1..+1 group user/Matthias Faessler (mfaessle)
	rebase = group user/Matthias Faessler (mfaessle)
	removeReviewer = group user/Matthias Faessler (mfaessle)
	submit = group user/Matthias Faessler (mfaessle)
[access "refs/heads/*"]
	read = group user/Matthias Faessler (mfaessle)
	create = group user/Matthias Faessler (mfaessle)
	push = +force group user/Matthias Faessler (mfaessle)
	pushMerge = group user/Matthias Faessler (mfaessle)
[access "refs/tags/*"]
	push = group user/Matthias Faessler (mfaessle)
	push = +force group user/Matthias Faessler (mfaessle)
