<launch>

  <node pkg="vicon"
        name="vicon"
        type="vicon"
        output="screen">
  </node>


    <node pkg="vicon_calibrate"
          name="vicon_calibrate_wall"
          type="vicon_calibrate"
          output="screen"
          clear_params="true">
      <remap from="~values" to="/vicon/values"/>
      <remap from="~names" to="/vicon/names"/>
      <param name="calibration" value="$(find coax_vsk)/calibration/Coax_Wall.xml"/>
    </node>

    <node pkg="vicon2odometry"
          name="vicon2odometry_wall"
          type="vicon2odometry"       
          output="screen">
      <remap from="~names" to="/vicon/names"/>
      <remap from="~values" to="/vicon/values"/>
      <remap from="~pose" to="/vicon_calibrate_wall/pose"/>
      <remap from="~odom" to="/vicon2odometry_wall/odom"/>
      <param name="vsk" value="$(find coax_vsk)/vsk/Coax_Wall.vsk"/>
    </node>

    <node pkg="ipc_nav_msgs"
          name="nav_msgs_Odometry_publisher_wall"
          type="nav_msgs_Odometry_publisher"
          output="screen">
      <remap from="~topic" to="/vicon2odometry_wall/odom"/>
      <param name="message" value="odomWall"/>
    </node>

    <node pkg="vicon_calibrate"
          name="vicon_calibrate"
          type="vicon_calibrate"
          output="screen"
          clear_params="true">
      <remap from="~values" to="/vicon/values"/>
      <remap from="~names" to="/vicon/names"/>
      <param name="calibration" value="$(find coax_vsk)/calibration/Coax56.xml"/>
    </node>

    <node pkg="vicon2odometry"
          name="vicon2odometry"
          type="vicon2odometry"       
          output="screen">
      <remap from="~names" to="/vicon/names"/>
      <remap from="~values" to="/vicon/values"/>
      <remap from="~pose" to="/vicon_calibrate/pose"/>
      <remap from="~odom" to="/vicon2odometry/odom"/>
      <param name="vsk" value="$(find coax_vsk)/vsk/Coax56.vsk"/>
    </node>

    <node pkg="odometry_smoother"
          name="odometry_smoother"
          type="odometry_smoother"
          output="screen">
      <remap from="~odom_in" to="/vicon2odometry/odom"/>
      <remap from="~odom_out" to="/odom_smooth"/>
      <rosparam file="$(find odometry_smoother)/config/noise.yaml"/>
    </node>

    <node pkg="ipc_nav_msgs"
          name="nav_msgs_Odometry_publisher"
          type="nav_msgs_Odometry_publisher"
          output="screen">
      <remap from="~topic" to="/odom_smooth"/>
      <param name="message" value="odom56"/>
    </node>

    <node pkg="coax_server"
          name="coax"
          type="coax_server"
	  output="screen"
          args="/dev/tty.usbserial-A800f3Zv:1">
      <remap from="/coax_server/state" to="/state"/>

      <remap from="/coax_server/control" to="/control"/>
      <remap from="/coax_server/rawcontrol" to="/rawcontrol"/>

      <remap from="/coax_server/reach_nav_state" to="/reach_nav_state"/>
      <remap from="/coax_server/configure_comm" to="/configure_comm"/>
      <remap from="/coax_server/set_timeout" to="/set_timeout"/>
    </node>

    <node pkg="coax_interface"
          name="coax_interface"
          type="coax_interface"
	  output="screen">
      <remap from="/coax_interface/info" to="/coax_info"/>
      <remap from="/coax_interface/imu" to="/coax_imu"/>
      <remap from="/coax_interface/euler" to="/coax_euler"/>
      <remap from="/coax_interface/rawcontrol" to="/rawcontrol"/>
      <remap from="/coax_interface/control_mode" to="/control_mode"/>

      <remap from="/coax_interface/state" to="/state"/>
      <remap from="/coax_interface/nav_mode" to="/matlab_nav_mode"/>
      <remap from="/coax_interface/raw_control" to="/matlab_raw_control"/>

      <remap from="/coax_interface/reach_nav_state" to="/reach_nav_state"/>
      <remap from="/coax_interface/configure_comm" to="/configure_comm"/>
      <remap from="/coax_interface/set_timeout" to="/set_timeout"/>

      <remap from="/coax_interface/set_control_mode" to="/set_control_mode"/>

      <param name="frequency" value="100"/>
    </node>

    <node pkg="ipc_geometry_msgs"
          name="Quaternion_coax_info_publisher"
          type="geometry_msgs_Quaternion_publisher"
          output="screen">
      <remap from="~topic" to="/coax_info"/>
      <param name="message" value="coax_info56"/>
    </node>

    <node pkg="ipc_geometry_msgs"
          name="Quaternion_coax_imu_publisher"
          type="geometry_msgs_Quaternion_publisher"
          output="screen">
      <remap from="~topic" to="/coax_imu"/>
      <param name="message" value="coax_imu56"/>
    </node>

    <node pkg="ipc_geometry_msgs"
          name="Quaternion_coax_euler_publisher"
          type="geometry_msgs_Quaternion_publisher"
          output="screen">
      <remap from="~topic" to="/coax_euler"/>
      <param name="message" value="coax_euler56"/>
    </node>

    <node pkg="ipc_std_msgs"
          name="Bool_nav_mode_subscriber"
          type="std_msgs_Bool_subscriber"
          output="screen">
      <remap from="~topic" to="/matlab_nav_mode"/>
      <param name="message" value="nav_mode56"/>
    </node>

    <node pkg="ipc_geometry_msgs"
          name="Quaternion_raw_control_subscriber"
          type="geometry_msgs_Quaternion_subscriber"
          output="screen">
      <remap from="~topic" to="/matlab_raw_control"/>
      <param name="message" value="raw_control56"/>
    </node>

    <node pkg="ipc_geometry_msgs"
          name="Quaternion_control_mode_publisher"
          type="geometry_msgs_Quaternion_publisher"
          output="screen">
      <remap from="~topic" to="/control_mode"/>
      <param name="message" value="control_mode56"/>
    </node>

</launch>
