<launch>

  <node pkg="coax_simulator"
        name="simulator"
        type="coax_simulator"
        output="screen">
    <param name="init/x" value="0.0"/>
    <param name="init/y" value="0.0"/>
    <param name="init/z" value="0.0"/>
    <param name="init/Omega_up" value="0.0"/> <!-- 226.7098"/> -->
    <param name="init/Omega_lo" value="0.0"/> <!-- 238.9733"/> -->
    <param name="rates/odometry" value="100.0"/>
    <rosparam file="$(find coax_simulator)/config/coax_parameters.yaml"/>
  </node>

  <node pkg="ipc_nav_msgs"
        name="nav_msgs_Odometry_publisher"
        type="nav_msgs_Odometry_publisher"
        output="screen">
    <remap from="~topic" to="/simulator/coax/odom"/>
    <param name="message" value="odom56"/>
  </node>

  <node pkg="coax_interface"
        name="coax_interface"
        type="coax_interface"
        output="screen">
    <remap from="/coax_interface/rawcontrol" to="/simulator/coax/cmd"/>
    <remap from="/coax_interface/raw_control" to="matlab_raw_control"/>
    <param name="frequency" value="100"/>
    <param name="simulation" value="1"/>
  </node>

  <node pkg="ipc_geometry_msgs"
        name="Quaternion_raw_control_subscriber"
        type="geometry_msgs_Quaternion_subscriber"
        output="screen">
    <remap from="~topic" to="matlab_raw_control"/>
    <param name="message" value="raw_control56"/>
  </node>

</launch>