<launch>
  <node pkg="vicon"
        name="vicon"
        type="vicon"
        output="screen">
  </node>

<!-- CoaX 56 -->
<!--
  <node pkg="vicon_calibrate"
        name="vicon_calibrate"
        type="vicon_calibrate"
        output="screen">
    <remap from="~values" to="/vicon/values"/>
    <remap from="~names" to="/vicon/names"/>
    <param name="calibration" 
           value="$(find coax_vsk)/calibration/Coax56.xml"/>
    <param name="vsk" 
           value="$(find coax_vsk)/vsk/Coax56.vsk"/>
    <param name="reference"
           value="$(find coax_vsk)/reference/CoaxCalib.xml"/>
  </node>
-->
<!-- CoaX 57 -->

  <node pkg="vicon_calibrate"
        name="vicon_calibrate"
        type="vicon_calibrate"
        output="screen">
    <remap from="~values" to="/vicon/values"/>
    <remap from="~names" to="/vicon/names"/>
    <param name="calibration"
           value="$(find coax_vsk)/calibration/Coax57.xml"/>
    <param name="vsk"
           value="$(find coax_vsk)/vsk/Coax57.vsk"/>
    <param name="reference"
           value="$(find coax_vsk)/reference/CoaxCalib.xml"/>
  </node>


</launch>
